[submodule "tei"]
	path = tei
	url = git@github.com:84000/data-tei.git
[submodule "translation-memory"]
	path = translation-memory
	url = git@github.com:84000/data-translation-memory.git
[submodule "rdf"]
	path = rdf
	url = git@github.com:84000/data-rdf.git
